h6{
    color: #fff;
}
ul{
    li,a{
        color: #fff;
    }
}
.bg-dark{
    background-color: #222 !important;
}

.border-radius-top{
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 3px solid #fff;
}

.footer-logo-section{
    min-height: 300px;
}
.footer-brand {
    padding-top: 2rem;
    img{
        height: 150px;
    }

}

.ps{
    padding: 3rem 2rem;
    
}
.footer-quote {
    font-size: 0.8rem;
    font-style: italic;
    color: #000;
    justify-content: flex-end;
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
    padding: 2rem;
    padding-bottom: 0;
    left: 0;
    
}

.pos-relative{
    position: relative;
}

.col-md-4{
    color: #fff;
    a{
        color: #fff;
    }
}
.border-top{
    border-top: 2px solid #fff;
}

.copyright-text{
    color: #fff;
}
.list-menu{
    h6{
        position: relative;
        float: left;
        &:before{
            content: '';
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #c7eb08;
        }
    }
}
.foot-top-links{
    a{
        text-decoration: none;
        &:hover{
            color: #c7eb08;
        }
    }
}
.list-unstyled{
    float: left;
    clear: both;
    li{
        a{
            line-height: 2rem;
            text-decoration: none;
            &:hover{
                color: #c7eb08;
            }
        }
    }
}