.hero-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 4rem;
    position: relative;
    @media (max-width: 820px) {
        padding: 1rem;
     }
}
.quote-bg{
    background-image: url('/assets/images/bg-image-section.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-left {
    position: relative;
}

.hero-top-img {
    width: 230px;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 18px 45px rgba(0, 0, 0, 0.18);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}
.products-cta {
    float: right !important;
    @media (max-width: 820px) {
        left: 50%;
        position: relative;
        float: left !important;
        transform: translateX(-50%);
    }
    
}

.hero-main-img {
    margin-top: 3rem;
    width: 100%;
    max-width: 360px;
    border-top-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    overflow: hidden;
    position: relative;
    top: -5rem;
    left: 5rem;
    border: 10px solid #fff;
    // box-shadow: 0 18px 45px rgba(0, 0, 0, 0.18);
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 1023px) {
        left: 0;
     }
}


.experience-badge {
    position: absolute;
    top: 1rem;
    left: 16rem;
    font-size: 3rem;
    color: #c7eb08;
    font-weight: bold;
    span {
        font-size: 2.7rem;
        color: #000;
        font-weight: normal;
    }
    @media (max-width: 1024px) {
        position: relative;
        left: 0;
        top: -15px;
        line-height: 4rem;
     }
}
.quote-text {
    font-style: italic;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #979797;
}
.section-bg-dark {
    background-color: #212121;
    color: #fff;
    .quoted-text {
        color: #7b7b7b;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 1.3rem 2rem;
        font-style: italic;
    }
}
.col-division-4 {
    float: left;
    width: 25%;
    height: 300px;
    background-color: #003253;
    border: 2px solid #212121;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: #003253;
    font-size: 1.2rem;
    text-transform: uppercase;
     @media (max-width: 820px) {
        width: 33.33%;
     }
  
    @media (max-width: 767px) {
        width: 50%;
     }
       @media (max-width: 575px) { 
        width: 100%;
    }
    &.top-radius {
        border-top-left-radius: 3rem;
    }
    &.bottom-radius {
        border-bottom-right-radius: 3rem;
    }
    h3 {
        font-size: 1.2rem;
        padding: 1rem;
        margin: 2rem;
        background: rgba($color: #c7eb08, $alpha: 0.6);
        color: #fff;
    }
    &:hover {
        background-blend-mode: normal !important;
    }
    &.product-section {
        // border-bottom-right-radius: 3rem;
        // border-top-left-radius: 3rem;
        background-blend-mode: lighten;
        transition: all 5s ease;
        color: #000;
        justify-content: flex-end;
        background-size: cover;
        &.product-1 {
            background-image: url("/assets/images/products-home/BW SEAMLESS.png");
        }
        &.product-2 {
            background-image: url("/assets/images/products-home/distillation-column.png");
        }
        &.product-3 {
            background-image: url("/assets/images/products-home/flanges.png");
        }
        &.product-4 {
            background-image: url("/assets/images/products-home/reboilers.png");
        }
        &.product-5 {
            background-image: url("/assets/images/products-home/fittings.png");
        }
        &.product-6 {
            background-image: url("/assets/images/products-home/mixer.png");
        }
        &.product-7 {
            background-image: url("/assets/images/products-home/storage-tank.png");
        }
    }
}

.section-padding {
    padding: 4rem;
    @media (max-width: 575px) { 
        padding: 2rem;
    }
}
.title-sec {
    background: #c7eb08;
}

.height-full {
    height: 100vh;
}

.image-container {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
        max-width: 100%;
        border-bottom-left-radius: 3rem;
        border-top-right-radius: 3rem;
        border: 10px solid #c7eb08;
        max-height: 100%;
        object-fit: contain;
    }
}

.pt-q {
    padding-top: 6rem !important;
    
}
