.active-link {
    font-weight: 600;
    color: #c7eb08 !important;
    /* Add any other styles you want for the active link */
}
/* HAMBURGER ICON */
.hamburger {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    span {
        position: relative;
        width: 26px;
        height: 3px;
        background: #c7eb08;
        border-radius: 2px;
        transition: 0.3s ease;

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            width: 26px;
            height: 3px;
            background: #c7eb08;
            border-radius: 2px;
            transition: 0.3s ease;
        }

        &::before {
            top: -8px;
        }

        &::after {
            top: 8px;
        }

        /* OPEN (X) ANIMATION */
        &.open {
            background: transparent;

            &::before {
                transform: rotate(45deg);
                top: 0;
            }

            &::after {
                transform: rotate(-45deg);
                top: 0;
            }
        }
    }
}


/* Show hamburger only on mobile */
@media (min-width: 992px) {
    .hamburger {
        display: none;
    }
    
}

.sidebar-wrap {
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    .title-sidebar {
        color: #c7eb08;
        padding: 1rem 0rem;
        border-top-left-radius: 3rem;
        font-size: 1.25rem;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
    }
    .sidebar-full {
        border-bottom: 1px solid #000;
        margin-bottom: 1.5rem;
        @media (max-width: 767px) {
            transform: translateX(-110%);
            transition: transform 0.3s ease;
            height: 0;
            margin: 0;
        }
        &.active {
            height: 100%;
            transform: translateX(0);
            margin-bottom: 1.5rem;
        }

        h6 {
            text-transform: uppercase;
        }
        ul {
            margin-left: 20px;
            li {
                a {
                    text-decoration: none;
                    position: relative;
                    font-weight: 300;
                    &:before {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 0;
                        height: 2px;
                        background-color: #fff;
                        transition: all 0.3s ease;
                    }
                    &:hover {
                        &:before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
