
.text-justify{
    text-align: justify;
}
.pr-5{
    padding-right: 3rem;
}
ul{
    li{
        margin-bottom: 0.5rem;
    }
}
.border-radius-img{
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}
