.h-banner{
    height: 400px;
    overflow: hidden;
    position: relative;
    img{
        object-fit: cover;
        height: 100%; 
        width: 100%;
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #003253;
        mix-blend-mode: soft-light;
    }
}
.title-abs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}